:host{
  width: 100%;
  height: 60%; 
  float: left; 
  background: lightgray;
}

.title{
  text-align: center;
  font-weight: 900;
}

#container {
  width:100%;
  text-align:center;
 }
 
 #container > div {
  width: calc(100% / 3 - 30px); 
  height: calc(60% /2 - 40px);
  display: inline-block;
  vertical-align: top;   
  border:1px solid white;
  background: white;
  border-radius: 5px;
  text-align:center;
  margin: 20px 2px;
 }