:host{
  border: 1px solid black;
  position: absolute;
  float: right;
  right: 0px;
  height: calc(50vh - 2px);
  width: calc(50vw - 2px);
}

.title{
  text-align: center;
}

table{
  display: block;
  margin: auto;
  width: 45vw;
}

th, td{
  width: 5vw;
}

.exerciseNameColumn{
  width: 25vw;
}

input{
  display: block;
  margin: auto;
  width: 30px;
}

.delete{
  color: red;
  cursor: pointer;
}
