<div class="title">Exercise Log</div>
<table>
    <thead>
        <th class="exerciseNameColumn">Exercise Name</th>
        <th>Reps</th>
        <th>Sets</th>
        <th>Load</th>
        <td></td>
    </thead>
    <tr class="row" *ngFor="let exercise of loggedExercises; let i = index">
        <td class="exerciseNameColumn">{{exercise.exerciseName}}</td>
        <td><input id="{{'reps_'+i}}" type="number"></td>
        <td><input id="{{'sets_'+i}}" type="number"></td>
        <td><input id="{{'load_'+i}}" type="number"></td>
        <td class="delete" (click)="removeExercise(i)">delete</td>
    </tr>
</table>
<button id="analyzeButton" (click)="runAnalysis()" *ngIf="loggedExercises.length > 0">Analyze</button>
