:host{
  width: 50%;
  height: 40%; 
  float: left; 
  background: lightcyan;
}

.title{
  text-align: center;
  font-weight: 900;
}

.searchBar {
  width: 30%;
  border: 1px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  display: block;
  margin: 5px auto;
}

.searchBar:focus{
  border: 3px solid #00B4CC;
}

.searchResult:hover{
  background-color: gainsboro;
  cursor: pointer;
}

.searchResults{
  width: 500px;
  display: block;
  margin: auto;
  text-align: center;
  border: 2px solid black;
}
