<div style="text-align:center">
  <h1>
    Rethinking the Big Patterns 2.0
  </h1>
  <app-pattern-selector name="Pattern" [options]="patternOptions" (optionPicked)="optionPicked($event)"></app-pattern-selector>
  <app-pattern-selector name="Stance" [options]="stanceOptions" (optionPicked)="optionPicked($event)"></app-pattern-selector>
  <app-pattern-selector name="Plane" [options]="planeOptions" (optionPicked)="optionPicked($event)"></app-pattern-selector>
  <app-pattern-selector name="Load" [options]="loadOptions" (optionPicked)="optionPicked($event)"></app-pattern-selector>
  <app-pattern-selector name="Velocity" [options]="veclocityOptions" (optionPicked)="optionPicked($event)"></app-pattern-selector>
  <app-pattern-selector name="Duration" [options]="durationOptions" (optionPicked)="optionPicked($event)"></app-pattern-selector>
</div>
