button{
  background-color: white;
  border: 1px solid red;
  height:40px;
  font-size: 12px;
  border-radius: 5px;
  color: darkred;
}

button:hover{
  background: lightgray;
}

.buttons {
  width: 100%;
  table-layout: fixed;
  background-color: rgba(224, 224, 224, 0.26);
}

.rowName{
  width: 100px;
  text-align: center;
  color: black;
}

.buttons button {
  width: 100%;
}

table, th {
  border: 1px solid white;
}

.selected{
  background: black;
  color: red;
}

.selected:hover{
  background: black !important;
  color: red !important;
}
